.fb-widget .modal-mask{

  height: 100vh !important;
}
/*.videoFrame{
  position: absolute !important;
    height: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
        padding-bottom: 56.25%;
}*/
/*.header--holder{
  height: 0;
}*/
/*.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw;  Given a 16:9 aspect ratio, 9/16*100 = 56.25 
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}*/
.container-narrow{

    max-width: 800px;

    width: 90%;

    margin: 0 auto;

    padding: 0;

}



.container-narrow .form-part {

    float: left;

    width: 77%;

    margin-right: 4%;

}



.contact__main {

    padding: 8rem 0;

    overflow: auto;

}



.cookiebanner:before{

content:"";

background-color:#c5ae60;

position:absolute;

left:-9999px;

}

.single-main{

  position: relative;

}

.cookiebanner-close{

padding:10px 20px !important;

border:1px solid #fff;

color:#fff;

}

.cookiebanner{

    padding:20px 20px !important;

    z-index:999999 !important;

} 

ul.connect li a {
    color: #ecebe4;
}



.cookiebanner span{

    color:#FFF !important;

    float:left !important;

margin-top: 12px; 

}



.icon-x{

  cursor: pointer;

}

a#show-modal,.teaser-list .listBox .btn-green {

    background-color: rgb(122, 158, 26);

    color: rgb(255, 255, 255) !important;

    font-size: 14px;

    float: right;

        padding: 13px 35px;

    line-height: 1;

}



html .teaser-list .listBox .teaser-content p {

    margin-bottom: 3.6rem;

    font-size: 14px;

    font-weight: 300;

    line-height: 1.57;

    overflow: hidden;

    display: -webkit-box;

    /*

    -webkit-line-clamp: 4;

    -webkit-box-orient: vertical;*/

    color: #636363;

}





/* BOOK POP UP */

#mainHeader .holder-btn-book {

    display: inline-block;

    z-index: 5;

    position: relative;

    float: right;

    top: 28px;

    transform: none;

    vertical-align: middle;

}



.fixed #mainHeader .holder-btn-book {

    top: 13px;

}



#PopUp3d{

  padding: 0 !important;

  overflow-y: hidden !important;

}

.book-popup-active #book-overlay{

    background-color: #000;

    z-index: 9999;

    position: fixed;

    top: 0;

    bottom: 0;

    height: 100%;

    opacity: .7;

    width: 100%;

}



#page div.popup-box {

    position: fixed;

    z-index: 999999;

    position: fixed;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    height: 75vh;

    width: 50%;

    padding: 40px 0px 40px 0px;

    background: #fff;

    overflow-y:scroll;

    overflow-x:hidden;

}



#bookPopUp form.booking-search {

    padding: 50px;

    overflow: auto;

    padding: 10px;

}







/* width */

#page div.popup-box::-webkit-scrollbar {

  width: 5px;

}



/* Track */

#page div.popup-box::-webkit-scrollbar-track {

  background: #f1f1f1;

}



/* Handle */

#page div.popup-box::-webkit-scrollbar-thumb {

  background: #888;

}



/* Handle on hover */

#page div.popup-box::-webkit-scrollbar-thumb:hover {

  background: #555;

}



#bookPopUp .date-left {

    padding-right: 5px;

}



#bookPopUp .date-right {

    padding-left: 5px;

}



#bookPopUpHeader h3{

    text-align: center;

    margin-bottom: 40px;

    font-size: 28px;

    color:#79675a;

}

  #PopUp3d div#bookScroller {

      float: left;

      height: 100%;

      width: 100%;

  }



  #PopUp3d div#bookPopUpHeader {

    width: 75%;

    margin: auto;

  }



  #PopUp3d div#bookPopUpContent {

    width: 50%;

    margin: auto;

  }



  #PopUp3d div#bookPopUpContent {

      margin: 0 auto;

      padding: 0;

      height: 100%;

  }



  #PopUp3d #bookPopUpContent img {

      height: 100%;

      width: 100%;

  }









  #bookPopUp div#bookScroller {

      float: left;

      height: 100%;

      width: 100%;

  }



  #bookPopUp div#bookPopUpHeader {

    width: 75%;

    margin: auto;

  }



  #bookPopUp div#bookPopUpContent {

    width: 50%;

    margin: auto;

  }



  #bookPopUp div#bookPopUpContent {

      margin: 0 auto;

      padding: 0;

      height: 100%;

  }



  #bookPopUp #bookPopUpContent img {

      height: 100%;

      width: 100%;

  }





.popup-box input[type="text"], .popup-box input[type="email"], .popup-box button, .popup-box select{

    padding:10px;

    height: 40px;

    width: 100%; 

}



.popup-box input,.popup-box select, .popup-box span, .popup-box textarea, textarea{

	font-size: 14px;

    color:#000;

    text-transform: none;

    letter-spacing: 0px;

}



.popup-box .dropdown-toggle,.popup-box input,.popup-box select,.popup-box textarea,#from-popup,#to-popup{

  border:1px solid #cccccc;

}



#from-popup,#to-popup{

  cursor: pointer !important;

}



 .popup-box textarea{

 	min-height: 100px;

 	padding:10px;

    width: 100%; 

 }



 .popup-box span.filter-option.pull-left{

  color:#ccc;

 }



 .popup-box .submit-contact span{

    color:#fff;

 }



 .submit-row{

    width: 100%;

    text-align: center;

    margin-top: 40px;

 }



 .submit-row .submit-contact{

    float:none;

    display: inline-block;

    padding: 1.8rem 6rem 1.6rem;

    line-height: .7;

    margin-top: 20px;

 }



.popup-box span.contact-ask {

    font-size: 14px;

    color: #79675a;

}



.popup-box .contact-unit{

    display: inline-block;

    float: right;

}

.unit-email{

    margin-left: 15px;

}



.popup-box .input-wrapper.pick-date.input-date-wrapper {

    width: 50%;

    float: left;

    margin-bottom: 15px;

    position: relative;

}



.date-left{

    padding-right: 0px;

}



.date-right{

    padding-left: 5px;

}



.popup-box span.icon-calendar {

    position: absolute;

    right: 10px;

    top: 11px;

    font-size: 20px;

}



/* custom checkbox */

input[type=checkbox].css-checkbox {

  position:static; z-index:-1000; opacity: 0; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:0px; width:0px; margin:0px; padding:0 !important; border:0; float: right;

}



input[type=checkbox].css-checkbox + label.css-label {

  padding-left:18px;

  height:14px; 

  display:inline-block;

  line-height:14px;

  background-repeat:no-repeat;

  background-position: 0 0;

  font-size:14px;

  vertical-align:middle;

  cursor:pointer;

  margin-bottom: 0;

}



input[type=checkbox].css-checkbox:checked + label.css-label {

  background-position: 0 -14px;

}

label.css-label {

  background-image:url(chk3.png);

  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

}


.popup-box .check-row:first-child{
  margin-left: 0;
}


.popup-box .check-row{

  float: left;

  margin-left: 8px;

}

.check-desc{

  font-size: 14px !important;

  color:#a9a8a0 !important;

  vertical-align: middle;

}



/* custom select */

.select-wrapper {

    border: 1px solid #ccc;

    width: 100%;

    border-radius: 0px;

    overflow: hidden;

    background: #fff url("img/icon-select.png") no-repeat 90% 50%;

}



.select-wrapper select {

    padding: 5px 8px;

    width: 130%;

    border: none;

    box-shadow: none;

    background: transparent;

    background-image: none;

    -webkit-appearance: none;

    color: #ccc !important;

}



.select-wrapper select:focus {

    outline: none;

}



/*close popup*/

span.icon-x img {

    width: 26px !important;

}



span.icon-x {

    position: fixed;

    right: 30px;

    top: 30px;

    z-index: 99999999;

}



.popup-box .booking-search .form-group {

    float: left;

    background-color: #fff;

    width: 100%;

    margin-bottom: 15px;

}



#msg-response{

  width: 100%;

  text-align: center;

  float: left;

  margin-top: 50px;

}

.msg-error img,.msg-success img{

  width: 80px;

}



#msg-response .mail-response-title{

  margin-top:35px;

}



p.mail-response-content {

    font-weight: bold;

}



.size-icon{

  width: 3rem;

  margin-right: 2.5rem;

}



#page .view-3d-label {

    float: right;

    width: auto;

    margin-top: 20px;

    cursor: pointer;

}



img.view-3d-icon {

    max-width: 30px;

}



.view-3d-label span {

    /* float: right; */

    font-size: 14px;

    color: #c5ae60;

    vertical-align: middle;

    margin-left: 10px;

    font-weight: 700;

}



.fb-widget .modal-container[data-v-05537ca1]{

  height: 718px;

}



html body #page .room-size-label{

  font-weight: 700;

  vertical-align: middle;

  top:0;

}



html body #page .room-size-value{

  vertical-align: middle;

  top:0;

}



div.fb-widget {

    float: right;

    position: relative;

    bottom: 0rem;

    right: 0;

}



#show-modal{

  background-color:#7a9e1a !important; 

}





.show-mobile{

  display: none;

}



span.filter-option,input {

    color: #000 !important;

}





.teaser-text {

    height: 100px;

    margin-bottom: 40px;

}





@media only screen and (min-width: 900px) and (max-width: 1140px){

  #mainHeader .container {

    position: relative;

    max-width: none;

  }

  header.header-type-1{

    width: 100vw;

  }

  .teaser-list .listBox h3{

    font-size: 28px;

  }

  #page .view-3d-label {

      width: 90%;

      text-align: right;

      margin: 20px auto;

      float: none;

  }

}

.fromDatePopUp-holder .ui-state-default,.fromDatePopUp-holder .ui-widget-content .ui-state-default, 
.fromDatePopUp-holder .ui-widget-header .ui-state-default{
  padding: 2px;
}
.fromDatePopUp-holder a.ui-state-default.ui-state-active {
    background-color: #7a9e1a!important;
    color: #000;
}

@media only screen and (max-width: 900px){
.introSlider .rsContent{
  height:auto !important;
}

.video-frame {
    width: auto;
    height:90vh;
    overflow: hidden;
}
.modal-mask{
z-index: 99999999 !important;
}
/*.introSlider .slick-slide img {
    display: block; 
    height: 100%;
    width: auto !important;
}*/

span.icon-x.close-popup.show-mobile.black-x {
    background: #f0f0f0;
    padding: 15px;
    top: 0;
    right: 0;
    width: 100%;
}
span.icon-x.close-popup.show-mobile.black-x img{
  float: right;
}

  #mainHeader .holder-btn-book{

    display: none;

  }

.show-desktop{

  display: none;

}

.show-mobile{

  display: block;

}



.book-mob-fix{

  z-index: 999999;

}



.book-mob-fix div.fb-widget {

    float: right;

    position: relative;

    display: inline-block;

    bottom: 0rem;

    right: 0;

    float: none;

}



.book-mob-fix .closing-cross{

  top: 80px !important;

    position: absolute !important;

    z-index: 1 !important;

}



#page .view-3d-label {

    margin-top: 30px;

}



div#PopUp3d {

    /* width: 80% !important; */

    height: auto !important;

    width: 85% !important;

}



span.icon-x {

    position: fixed;

    right: 20px;

    top: 20px;

    z-index: 99999999;

}



html body a.book-room-form {

    float: right !important;

    padding: 13px 35px;

}





  input[type=checkbox].css-checkbox + label.css-label {

    padding-left: 46px;

    height:36px; 

    line-height:36px;

    font-size:36px;

  }

  label.css-label {

    background-image:url(chk-mobile.png);

  }



  input[type=checkbox].css-checkbox:checked + label.css-label {

    background-position: 0 -36px;

  }



  #page .view-3d-label{

    float: left;

    margin-left: 25px;

  }



  .size-icon {

      width: 2.5rem;

      margin-right: 1rem;

  }



  #page div.popup-box {

    width: 100%;

    height: 100%;

    z-index: 9999999; 

    transform: translate(-50%, -50%);

  }



  div#bookScroller {

      float: left;

      height: 100%;

      width: 100%;

  }



  #page div#bookPopUpHeader {

    width: 85%;

    margin: auto;

    padding-top: 30px;

  }



  #page div#bookPopUpContent {

    width: 85%;

    margin: auto;

  }



  #page div#bookPopUpContent {

      margin: 0;

      padding: 0;

      float: left;

      height: 100%;

      width: 100%;

  }



  #bookPopUpContent img {

      height: 100%;

      width: 100%;

  }



  .submit-row .submit-contact {

      line-height: 1;

  }



  .popup-box .contact-ask{

    width: 100%;

    text-align: center;

  }

  .popup-box .contact-unit{

    width: 100%;

    text-align: center;

    margin-top: 15px;

  }

  .popup-box .contact-unit .check-row{

    float: none;

    display: inline-block;

  }



  .cookiebanner {

      padding: 10px 10px !important;

      z-index: 999999 !important;

      width: 100% !important;

  }



  .cookiebanner-close {

      padding: 5px 10px !important;

      border: 1px solid #fff;

      color: #fff;

      font-size: 12px;

      width: auto;

      vertical-align: middle;

      margin-top: 13px;

  }



  .cookiebanner span {

      color: #FFF !important;

      float: left !important;

      margin-top: 0;

      width: 80%;

  }
}

@media only screen and (min-width: 900px) and (max-width: 1400px){
  .fbw-calendar--main {
    zoom: .9;
  }
}