//-------------------------
//----------- FOOTER
//-------------------------
.footer {
	background-color: $c-main;
	.logo-wrapper {
		width: 18rem;
		margin-bottom: 5rem;
		img {
			width: 100%;
		}
		@include breakpoint(tablet) {
			width: 27.5rem;
			margin: 0 auto;
			margin-bottom: 6.5rem;
		}
	}
	&-main {
		padding: 9rem 0 6rem;
		@include breakpoint(tablet) {
			padding: 6rem 3.5rem 10rem;
		}
	}
	//-- footer three equal parts 
	.items {
		width: 33.33%;
		float: left;
		@include breakpoint(tablet) {
			width: 100%;
			float: none;
		}
	}
	//--footer navigation
	&__nav {
		padding-left: 3.2rem;
		@include breakpoint(tablet) {
			padding-left: 0;
			margin-bottom: 10rem;
		}
		li:first-child {
			margin-top: 2.5rem;
		}
		li {
			display: block;
			margin: 2rem 0;
			list-style: none;
			@include breakpoint(tablet) {
				margin: 4rem 0;
				text-align: center;
			}
			a {
				font-size: 11.5px;
				color: $c-offersBg;
				text-transform: uppercase;
				transition: all ease-in-out 0.3s;
				@include breakpoint(desktop--small) {
					font-size: 10px;
				}
				@include breakpoint(tablet) {
					font-size: 2.5rem;				
				}
				&:hover {
					color: $c-gold;
				}
			}
			&.active a {
				color: $c-gold;
			}   
		}
	}
}

.contact-info {
	address {
		margin-bottom: 2.6rem;
		@include breakpoint(tablet) {
			margin-bottom: 5rem;
		}
		br {
			display: none;
			@include breakpoint(tablet) {
				display: inline;
			}
		}
	}
	@include breakpoint(tablet) {
		text-align: center;
	}
}

.contact-info,
.connect {
	font-size: 14px;
	color: $c-offersBg;
	list-style: none;
	@include breakpoint(desktop--small) {
		font-size: 12px;
	}
	@include breakpoint(tablet) {
		font-size: 2.5rem;
	}
}

.connect {
	@include breakpoint(tablet) {
		margin-bottom: 8rem;
	}
	li {
		margin-bottom: 0.5rem;
	}
}

.social-links {
	margin-top: 3rem;
	list-style: none;
	@include breakpoint(tablet) {
		margin-bottom: 8rem;
	}
	li {
		margin-right: 1.6rem;
		font-size: 30px;
		display: inline-block;
		transition: all ease-in-out 0.3s;
		@include breakpoint(tablet) {
			font-size: 5.5rem;
		}
		&:hover {
			i:before{
				transition: all ease-in-out 0.3s;
				color: $c-gold!important;
			}
	    }
	}
}

.footer__subscribe {
	padding-top: 2.5rem;
	padding-left: 4rem;
	@include breakpoint(tablet) {
		padding-left: 0;
		text-align: center;
	}
	h4 {
		margin-bottom: 1.8rem;
		font-family: $butler;
		font-size: 16px;
		color: $c-offersBg;
		@include breakpoint(tablet) { 
			font-size: 2.75rem;
		}
	}
	.btn-purchase {
		margin-bottom: 4.8rem;
		@include breakpoint(desktop--small) {
			font-size: 11px;
		}
		@include breakpoint(tablet) {
			margin-bottom: 6.8rem;
			font-size: 2.25rem;
			width: 65%;
		}
		@include breakpoint(mobile) {
	        width: 100%;
	    }
	}
	form {
		position: relative;
		width: 34.4rem;
		@include breakpoint(tablet) {
			display: inline-block;
			width: 65%;
		}
		@include breakpoint(mobile) {
	    	width: 100%;
	    }
	}
	.input-wrapper {
		width: 34.4rem;
		height: 43px;
		margin-bottom: 1.4rem;
		margin-right: 0;
		@include breakpoint(tablet) {
		 	width: 100%;
	        height: 6rem;
	        margin-bottom: 6rem;
	    }

		input {
			width: 100%;
			height: 100%;
			padding: 0 2.1rem;
			font-size: 14px;
			outline: none;
			border: none;
			&::placeholder {
				color: #c5c4be;
			}
		} 
	}
	.btn-sub {
		@include breakpoint(desktop--small) {
			font-size: 11px;
		}
		@include breakpoint(tablet) {
			position: static;
	        font-size: 1.8rem;
		}
	}
}

.footer-bottom {
	padding: 2rem 0;
	border-top: 1px solid #9b8779;
	@include breakpoint(tablet) {
		padding: 3.5rem 0;
	}
}

.footer__copyright {
	font-size: 12px;
	color: #b89f89;
	@include breakpoint(tablet) {
		text-align: center;
		font-size: 1.5rem;
	}
	@include breakpoint(mobile) {
		padding-bottom: 7rem;
	}
}


#toTop {
    background: #fff;
    border: 1px solid #ddd;
}
#toTop:hover {
    background: #5381BA;
    color: #fff;
}

/******************* LOADER ******************/
#loader-wrapper {
    background: #fff;
}
#loader {
    border-top-color: #888;
}
#loader:before {
    border-top-color: #5381BA;
}
#loader:after {
    border-top-color: #5381BA;
}

